langchain
langchain-openai
ipykernel
langchain-community
python-dotenv
langchain-groq
openai
groq
langchain-ollama
pypdf
bs4
pymupdf
langchain-text-splitters
chromadb
langchain-huggingface
faiss-cpu
langchain-chroma
fastapi
langserve
uvicorn
streamlit
pathlib
mysql
mysql-connector-python
PyPDF2
cassio
validators
youtube-transcript-api
pytube
unstructured
wikipedia
numexpr
gradio